 

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    background-color: #1515e5;
    margin: 0;

}

.container {
    background-color: #4b2929;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(137, 24, 24, 0.1);
    text-align: center;
}

#word-display {
    font-size: 2em;
    margin-bottom: 20px; 
    letter-spacing: 5px; 
}

#alphabet-buttons button {
    margin: 5px; 
    padding: 10px 15px; 
    font-size: 1em;
    cursor: pointer;
}

#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
